name: Scraping
run-name: ${{ github.actor }} is updating available housing

on:
  schedule: 
  - cron: "0 4 * * *"

jobs:
  scheduled-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm install
      - run: tsc src/index.ts
      - run: node src/index.js


